In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv( 'Mountains.csv', delimiter = ',' )
data.head(5)
newtable = data.groupby('Parent mountain').filter (lambda x: len(x) > 3)
newtable.groupby('Parent mountain')['Mountain'].count()

Parent mountain
Cho Oyu          7
Dhaulagiri       4
Distaghil Sar    5
Gasherbrum I     8
K2               5
Kangchenjunga    7
Mount Everest    9
Shisha Pangma    4
Name: Mountain, dtype: int64